.course-box {
    border: 1px solid rgba(1, 1, 1, 0.3);
    color: rgba(1, 1, 1, 0.3);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .1s ease-in-out;
}

.course-box:hover {
    border: 1px solid black;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
}